body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #fff;
  padding: 10px;
  margin: 10px;
  font-size: 24px;
}

.homeTitle {
  margin-top: 20px;
}

.location_card {
  margin-bottom: 30px;
}
.icon {
  padding: 20px;
  float: right;
}
.icon-close{
  color: red;
  margin-top: 200px;
  margin-right: 20px;
}

.close {
  color: red;
}



table {
  text-align: left;
}
.icon-td {
  float: left;
}
td i {
  cursor: pointer;
}

.location-img {
  height: 200px;
  background-size: 100% 200px;
}

#header {
  margin-bottom: 20px;
}

.topbar {
  background-color: #23c7d1;
  width: 100%;
  height: 120px;
  padding: 0;
  margin: 0;
}

.topTravel {
  margin-left: 200px;
}

.btn {
  background-color:  #23c7d1;
}

.addIcon {
  color:  #23c7d1;
  font-size: 1.5em;
}

.btn:hover {
  background-color: #00808d;
}
